<div id="ingredients">  
  <%= form.fields_for :ingredients do |ingredient_form| %>
  <div class="ingredient <%= 'new' if ingredient_form.object.new_record? %>">
    <% unless ingredient_form.object.new_record? %>
      <%= ingredient_form.check_box :_destroy, :class => "destroy" %>
    <% end %>
    <%= ingredient_form.text_field :how_much, :class => 'how_much', :size => "" %>
    <%= ingredient_form.text_field :ingredient_name, :class => 'ingredient_name', :size => "" %>
    <%= ingredient_form.text_field :preparation, :class => 'preparation', :size => "" %>
    <%= ingredient_form.text_field :order, :class => "order" %>
  </div>
  <% end %>
</div>

