<div id="ingredient_form">
  <input type="text" id="how_much" />
  <input type="text" id="ingredient_name" />
  <input type="text" id="preparation" />
  <button id="add_ingredient">Add</button>
</div>

<div id="ingredients">  
  <%= form.fields_for :ingredients do |ingredient_form| %>
  <div class="ingredient <%= 'new' if ingredient_form.object.new_record? %>">
    <% unless ingredient_form.object.new_record? %>
      <%= ingredient_form.check_box :_destroy %>
    <% end %>
    <%= ingredient_form.text_field :how_much %>
    <%= ingredient_form.text_field :ingredient_name %>
    <%= ingredient_form.text_field :preparation %>
    <%= ingredient_form.text_field :order %>
  </div>
  <% end %>
</div>

<script id="new_ingredient_template" type="text/template">
  <div class="ingredient new">
    <input id="recipe_ingredients_attributes_{{i}}_how_much" name="recipe[ingredients_attributes][{{i}}][how_much]" size="30" type="text" value="{{how_much}}" />
    <input id="recipe_ingredients_attributes_{{i}}_ingredient_name" name="recipe[ingredients_attributes][{{i}}][ingredient_name]" size="30" type="text" value="{{ingredient_name}}" />
    <input id="recipe_ingredients_attributes_{{i}}_preparation" name="recipe[ingredients_attributes][{{i}}][preparation]" size="30" type="text" value="{{preparation}}" />
    <input id="recipe_ingredients_attributes_{{i}}_order" name="recipe[ingredients_attributes][{{i}}[order]" size="30" type="text" value="{{order}}" />
  </div>
</script>
