<%= form.fields_for :ingredients do |ingredient_form| %>
<div class="field">
  <% unless ingredient_form.object.new_record? %>
    <%= ingredient_form.check_box :_destroy %>
  <% end %>
  <%= ingredient_form.label :how_much %>
  <%= ingredient_form.text_field :how_much %>
  <%= ingredient_form.label :ingredient_name %>
  <%= ingredient_form.text_field :ingredient_name %>
  <%= ingredient_form.label :preparation %>
  <%= ingredient_form.text_field :preparation %>
</div>
<% end %>
