<p id="notice"><%= notice %></p>

<p>
  <b>Ingredient:</b>
  <%= @recipe_ingredient.ingredient %>
</p>

<p>
  <b>Measurement:</b>
  <%= @recipe_ingredient.measurement %>
</p>

<p>
  <b>Amount:</b>
  <%= @recipe_ingredient.amount %>
</p>

<p>
  <b>Measurement adjectives:</b>
  <%= @recipe_ingredient.measurement_adjectives %>
</p>

<p>
  <b>Preparation:</b>
  <%= @recipe_ingredient.preparation %>
</p>


<%= link_to 'Edit', edit_recipe_ingredient_path(@recipe_ingredient) %> |
<%= link_to 'Back', recipe_ingredients_path %>
