<%= link_to "Groceries", menu_groceries_path(@menu) %>

<% include_javascript "underscore", "backbone", "menus/models", "menus/edit" %>

<style type="text/css">
  #dropzone {
    border: 1px solid #333333;
    color: #008000;
    padding: 1em;
  }
  #dropzone.ui-state-hover {
    border: 1px solid #008000;
  }
</style>

<script type="text/javascript">
  $(function(){
    
    recipes.reset( <%= raw @recipes.to_json %> );
    menu = new Menu( <%= raw @menu.to_json %> );
  });
</script>

<input type="text" id="search" />

<div id="recipes">
</div> <!-- #recipes -->

<div id="dropzone">
  <p>Drag and drop recipes here to add them to the menu.</p>
</div> <!-- #dropzone -->

<div id="menu">
  <ul id="menu_recipes">
  </ul>

  <ul id="menu_ingredients">
  </ul>
</div> <!-- #menu -->

<%= link_to 'Show', @menu %> |
<%= link_to 'Back', menus_path %>

<script id="recipe_template" type="text/template">
  <div id="{{id}}">{{name}}</div>
</script>

<script id="menu_recipe_template" type="text/template">
  <li id="{{id}}">
  {{#recipe}}
    {{name}}
  {{/recipe}}
  </li>
</script>

<script id="menu_ingredient_template" type="text/template">
  <li id="{{id}}">{{how_much}} {{ingredient_name}}</li>
</script>
