<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @menu.name %>
</p>

<p>
  <b>Description:</b>
  <%= @menu.description %>
</p>

<h2>Groceries</h2>
<ul>
<% @menu.groceries.each do |g| %>
  <li><%= g.how_much %> <%= g.ingredient_name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
