<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :servings %><br />
    <%= f.text_field :servings %>
  </div>

  <h2>Directions</h2>
  <%= f.fields_for :directions do |df| %>
  <div class="field">
    <% unless df.object.new_record? %>
      <%= df.check_box :_destroy %>
    <% end %>
    <%= df.label :text %>
    <%= df.text_area :text, :rows => 3 %>
    <%= df.label :order %>
    <%= df.text_field :order %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
