<div id="directions">
  <%= form.fields_for :directions do |df| %>
  <div class="direction <%= 'new' if df.object.new_record? %>">
    <% unless df.object.new_record? %>
      <%= df.label :destroy, :class => 'destroy' %>
      <%= df.check_box :_destroy, :class => 'destroy' %>
    <% end %>
    <%= df.text_area :text, :rows => 3, :placeholder => "Enter some directions" %>
    <%= df.text_field :order, :class => "order" %>
  </div>
  <% end %>
</div> <!-- #directions -->

