<!DOCTYPE html>
<html>
<head>
  <title>Menutron</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "https://github.com/janl/mustache.js/raw/master/mustache.js" %>
  <%= javascript_include_tag "jquery-1.6.2.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.js" %>
  <%= yield(:head) %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="site">

<%= render "shared/navigation" %>

<%= yield %>

</div>

</body>
</html>
