<!DOCTYPE html>
<html>
<head>
  <title>Menutron</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" %>
  <%= yield(:head) %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="site">

<%= render "shared/navigation" %>

<%= yield %>

</div>

</body>
</html>
