<h2>Recipes</h2>
<%= form.fields_for :recipes do |rf| %>
<div class="field">
  <% unless rf.object.new_record? %>
    <%= rf.check_box :_destroy %>
  <% end %>
  <%= rf.label :recipe %>
  <%= rf.collection_select :recipe_id, Recipe.all, :id, :name, :include_blank => 'None' %>
  <%= rf.label :servings %>
  <%= rf.text_field :servings %>
</div>
<% end %>
